<h2>USERNAMES HERE</h2>
<form method='post' action='/api/users'class="new-user">
  <div class="row">
    <div class="six columns">
      <input type="text" name="user[local][name]" id="user-name" placeholder="Your username" class="u-full-width">
    </div>
    <div class="six columns">
      <input type="text" name="user[local][email]" id="user-email" placeholder="Your email" class="u-full-width">
    </div>
    <div class="six columns">
      <input type="text" name="user[local][password]" id="user-password" placeholder="Your password" class="u-full-width">
    </div>
    <input type="submit" value='Create New User'>
  </div>
</form>


<% allUsers.forEach(function(user) { %>
  <li><%= user.local.name %></li>
  <li><%= user.local.email %></li>
  <li><%= user.local.password %></li>
<% }) %>
