<h2>LOGIN HERE</h2>
<form method='post' action='/'class="new-user">
  <div class="row">
    <div class="six columns">
      <input type="text" name="user[local][email]" id="user-email" placeholder="Your email" class="u-full-width">
    </div>
    <div class="six columns">
      <input type="text" name="user[local][password]" id="user-password" placeholder="Your password" class="u-full-width">
    </div>
    <input type="submit" value='Login'>
  </div>
</form>

<div class="form-group">
  <p>
    New user? <a href="/signup">Sign up</a>
  </p>
</div>
