<h1> HELLO <%= user.name %>! <h1>

<a class="btn btn-default btn-primary" href="/posts/new" role="button">New Post</a>

<a class="btn btn-default btn-primary" href="/logout" role="button">Logout</a>

<div>
  <ul id="all-movie-boxes">
           <% foundpost.forEach(function(post) {
             %>
             <li>
             <div class="col-md-4">
             <a href="/posts/<%= post.id %>"><h4> <%= post.header %> </h4> </a>
            </li>
            </div>
            <% }) %>
      </ul>
