<h2>NEW POST</h2>
<form form method='post' action='/posts' class="new-post">
  <div class="row">
    <div class="six columns">
      <input type="text" name="posts[header]" id="user-posts" placeholder="Your header" class="u-full-width">
    </div>
    <div class="six columns">
      <input type="text" name="posts[content]" id="posts-content" placeholder="Your content" class="u-full-width">
    </div>
    <input type="submit" value='Create New Post'>
  </div>
</form>
